/*reset*/
body { font-family: "\5B8B\4F53", serif; background: #ffffff; font-size: 12px; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote { padding: 0; margin: 0; }
p { margin: 0; }
table, td, tr, th { font-size: 12px; }
li { list-style-type: none; }
table { margin: 0 auto; }
img { vertical-align: top; border: 0; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 12px; font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; }
address, caption, cite, code, dfn, em, th, var { font-weight: normal; font-style: normal; }
strong { font-weight: normal; }
a { color: #000000; text-decoration: none; }
a:visited { color: #83006f; text-decoration: none; }
a:hover { color: #ba2636; text-decoration: underline; }
a:active { color: #ba2636; }